/* 
    Document   : styles
    Created on : Feb 16, 2012, 10:03:48 PM
    Author     : nick
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 60px; 
}
.overlay{
    opacity: .0;
    background-image: url('img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-color: #666;
    position: absolute;
    z-index: 10;
}
img.status{
    float: left; width: 32px; height: 32px;
}

.control-group input.error, .control-group label.error, div.error, li.error {
    color: #b94a48;
    border-color: #b94a48;
}

div.error {
    font-weight: bold;
}


.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: whiteSmoke;
}
