

<div class="row">
    <div class="site span4" site="{{site.id}}" ng-repeat="site in sites">
        <img ng-src="{{site.latest.statusImage}}" class="status" />
        <p class="link" style="max-width: 230px; overflow: hidden;"><a href="{{site.url}}">{{site.url}}</a></p>
        <div class="alert alert-success" style="clear: both;">
            Status:
            <span class="responseCode">
                {{site.latest.code}}
            </span>
            Time:
            <span class="responseTime">
                {{site.latest.responseTime}}
            </span>ms
            <div style="float: right;">
                <i class="icon-trash delete"></i>
                <i class="icon-signal plot" ng-click="plotSite(site)"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="plot_holder" style="width:100%;height:400px;">
            <div ng-controller="PlotController">{{site.id}}</div>
        </div>
    </div>
</div>